body {
	background-color:#161616;
}

* {
margin: 0px;
padding: 0px;
}

div#fondo {
	margin:auto;
	width: 1349px;
	height: 50px;
	background-color:#515151;
-webkit-box-shadow: 3px -2px 3px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -2px 3px 6px rgba(0,0,0,0.75);
box-shadow: 3px -2px 3px 6px rgba(0,0,0,0.75);
}

img#logo {
	margin-left: 10px;
}

p#subir {
    font-family: Dark Crystal;
    font-size: 13px;
    text-align: center;
    margin-top: -20px;
    text-shadow: 0 0 5px #000, 0 0 10px #D50000, 0 0 15px #D50000, 0 0 30px #D50000, 0 0 20px #D50000; 
-webkit-text-fill-color: #B10; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;    
}

div#subir {
    border: solid 2px #D50000;
    width: 70px;
    height: 30px;
    margin-top: -35px;
    margin-left: 1250px;
    
}

div#subir:hover {
    background: rgba(0,0,0,0.5)
        
}

input#file{
    width: 70px;
    height: 31px;
    background-color: transparent;
    opacity: 0;
    margin-top: -35px;
    
}

input#campo {
	width: 450px;
	height: 25px;
	font-size:19px;
	font-family: Dark Crystal;
	color: width;
  border: black 2px solid;
  border-radius: 10px;
    background:rgba(0,0,0,0.5);
    color: #fff;
}

input#buscar {
	margin-right: -20px;
	height: 29px;
	width: 50px;
	border: 1px solid #959595;
	  border: black 2px solid;
  border-radius: 10px;
  font-size: 15px;
  color: #000;
}

#perf {
    margin-left: 45px;
    text-decoration: none;
    color: #B10200;
    font-family: Dark Crystal;
    font-size: 25px;
    text-shadow: 0 0 5px #000, 0 0 10px #D50000, 0 0 15px #D50000, 0 0 30px #D50000, 0 0 20px #D50000; 
-webkit-text-fill-color: #B10; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;
    
}

#perf:hover {
text-decoration:underline #B10;
}

#perf1 {
        margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-family: Dark Crystal;
    font-size: 25px;
    text-shadow: 0 0 5px #000, 0 0 10px #fff, 0 0 15px #fff, 0 0 30px #fff, 0 0 20px #fff; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;
}

#perf1:hover {
text-decoration:underline;
}

#perf2 {
     margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-family: Dark Crystal;
    font-size: 30px;
    text-shadow: 0 0 5px #fff, 0 0 10px #000, 0 0 15px #fff, 0 0 30px #fff, 0 0 20px #fff; 
-webkit-text-fill-color: #fff; 
-webkit-text-stroke-color:#fff; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #fff; 
-moz-text-stroke-color:#fff; 
-moz-text-stroke-width:0.5px;
}

#perf2:hover {
    text-decoration:underline;

}
input#buscar:hover {
	background-color:#ccc
}

h2#title{
    margin-top: 50px;
    font-family: Dark Crystal;
    font-size: 60px;
    color: #fff;
    
}

div#contenido {
	margin-top: 45px;
	width: 1349px;
	height: 1225px;
	background-color: #2B2B2B;
	-webkit-box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.75);
}

div#pie {
	margin:auto;
	margin-top: 45px;
	width: 1349px;
	height: 100px;
	background-color:#000;
	-webkit-box-shadow: -1px 2px 3px 6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 3px 6px rgba(0,0,0,0.75);
box-shadow: -1px 2px 3px 6px rgba(0,0,0,0.75);
}

a#link {
	text-decoration: none;
	margin-left: 55px;
	border-right: 1px solid #000;
	font-family: Dark Crystal;
	color:#fff;
	font-size: 25px;
	text-align: center;
			text-shadow: 0 0 5px #787878, 0 0 10px #787878, 0 0 5px #787878, 0 0 10px #787878, 0 0 10px #787878; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;
}

a#link:hover {
text-decoration:underline;

}

nav ul {
	list-style: none;
}

nav > ul {
	display:table;
	overflow: hidden;
	width: 1349px;
	height: 50px;
	background: #000;
	position: relative;
	
}

nav > ul li {
	display:table-cell;
}

nav ul > li > ul{
	display: none;
}

nav > ul li a {
text-decoration: none;
color:#fff;
font-size:25px;
display: block;
line-height: 20px;
padding: 20px;
position: relative;
text-align: center;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
text-shadow: 0 0 5px #fff, 0 0 10px #D50000, 0 0 15px #D50000, 0 0 20px #D50000, 0 0 20px #D50000; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px; 
}

nav > ul li a:hover {
	background-color: #474747;

}

div#conte{
    border: 10px ridge #fff;
    height: 380px;
    width: 800px;
    margin-top: 80px;

}

footer {
	font-family: Dark Crystal;
	font-size:15px;
	color: #D5D5D5;
	margin-top: 20px;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 7px #fff; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px; 
}

p#edit {
    font-family: Dark Crystal;
    margin-top: 50px;
    font-size: 40px;
    color: #fff;
}

input#campoede {
    background:rgba(0,0,0,0.4);
    height: 45px;
    width: 410px;
    border: ridge red 6px;
    font-family: Dark Crystal;
    font-size: 40px;
    color: #fff;
}

p#edit2 {
    font-family: Dark Crystal;
    margin-top: 50px;
    font-size: 40px;
    color: #fff;
}

input#campoede2 {
     background:rgba(0,0,0,0.4);
    height: 45px;
    width: 410px;
    border: ridge red 6px;
    font-family: Dark Crystal;
    font-size: 40px;
    color: #fff;
}

input#Editar {
    margin-top: 20px;
    height: 40px;
    width: 310px;
    font-family: Dark Crystal;
    background:rgba(0,0,0,0.5);
    font-size: 35px;
    border: ridge 3px;
}

input#Editar:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.8);
}

input#file1 {
    margin-left: 630px;
    width: 110px;
    height: 30px;
    opacity: 0;
}

div#file2 {
    border: ridge 3px #fff;
    margin-left: 630px;
    width: 109px;
    height: 30px;
    margin-top: -32px;
}

p#porta {
    text-align: center;
    font-family: Dark Crystal;
    margin-top: 3px;
    font-size: 22px;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 20px #fff; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;    
}

div#file2:hover {
    background: rgba(0,0,0,0.8);
}

input#file2 {
    margin-left: 630px;
    width: 110px;
    height: 30px;
    opacity: 0;
    margin-top: -20px;
}

div#file3 {
    border: ridge 3px #fff;
    margin-left: 630px;
    width: 109px;
    height: 30px;
    margin-top: -32px;
    margin-top: -20px;
}

p#porta1 {
    text-align: center;
    font-family: Dark Crystal;
    margin-top: 3px;
    font-size: 22px;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 20px #fff; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;    
    margin-top: -20px;
}

div#file3:hover {
    background: rgba(0,0,0,0.8);
}

a#link2 {
    text-decoration: none;
    color: black;
    font-family: Dark Crystal;
    font-size: 14px;   
    margin-top: 10px;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 20px #fff; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px; 
}    
div#usuario {
    text-align: center;
    font-family: Dark Crystal;
    font-size: 30px;
    color: #fff;
    margin-top: 13px;
    text-shadow: 0 0 5px #D10000, 0 0 10px #D10000, 0 0 15px #D10000, 0 0 20px #D10000, 0 0 20px #D10000; 
-webkit-text-fill-color: #fff; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;
}
}



