body {
	background-color: #161616;
}

* {
	margin: 0;
	padding: 0;
}

div#fondo {
	margin: auto;
	width: 1349px;
	height: 568px;
	background:url(../images/fondopre.jpg);
	-webkit-box-shadow: 2px 1px 7px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 7px 4px rgba(0,0,0,0.75);
box-shadow: 2px 1px 7px 4px rgba(0,0,0,0.75);
}

div#parrafo {

}

div#titulo {
	margin: auto;
	margin-top: 80px;
	width: 1349px;
	height: 130px;
	background-color:#696969;
	-webkit-box-shadow: 2px 1px 7px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 7px 4px rgba(0,0,0,0.75);
box-shadow: 2px 1px 7px 4px rgba(0,0,0,0.75);
}



div#pie {
	margin:auto;
	margin-top:45px;
	width: 1349px;
	height: 100px;
	background-color:#000;
	-webkit-box-shadow: -1px 2px 3px 6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 3px 6px rgba(0,0,0,0.75);
box-shadow: -1px 2px 3px 6px rgba(0,0,0,0.75);
}

a#link {
	text-decoration: none;
	margin-left: 55px;
	border-right: 1px solid #000;
	font-family: Dark Crystal;
	color:#fff;
	font-size: 25px;
	text-align: center;
			text-shadow: 0 0 5px #787878, 0 0 10px #787878, 0 0 5px #787878, 0 0 10px #787878, 0 0 10px #787878; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px;
}

a#link:hover {
text-decoration:underline;

}
footer {
	font-family: Dark Crystal;
	font-size:15px;
	color: #D5D5D5;
	margin-top: 20px;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 7px #fff; 
-webkit-text-fill-color: #000; 
-webkit-text-stroke-color:#000; 
-webkit-text-stroke-width:0.2px; 
-moz-text-fill-color: #000; 
-moz-text-stroke-color:#000; 
-moz-text-stroke-width:0.5px; 
}
